


<div class="homeDescription">
  <h1>Owner Details</h1>
<ul id="ownerList">
 
  <li><strong>Owner ID:</strong> {{this.ownerId}}</li>
  <li><strong>Owner Name:</strong> {{this.ownerName}}</li>
  <li><strong>Owner Email:</strong> {{this.email}}</li>
  <li><strong>Owner Address:</strong> {{this.address}}</li>
 
</ul>
</div>

<div class="homeDescription">
  <h1>Pet Rock Details</h1>
<ul id="rockList">
  {{#each rocks}}
<div>
  <img class="rockImg" src="{{this.rockImg}}" alt="rock">
  <li><strong>Rock Name:</strong> {{this.rockName}}</li>
    <li><strong>Rock Age:</strong> {{this.rockAge}} Million Years</li>
      <li><strong>Rock Traits:</strong> {{this.rockTrait}}</li>
        <li><strong>Rock ID:</strong> {{this.rockId}}</li>
     </div>
  {{/each}}
</ul>
</div>